.main-container {
    display: flex;
    flex-direction: row;
}

.list-item {
    cursor: pointer;
    line-height: 24px;
    font-style: italic;
}

.list-item:hover {
    color: teal;
}

.list-item.selected {
    color:seagreen;
}